body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-lg {
  font-size: 1.5rem;
  line-height: 1.75rem;
}
@media (min-width: 1400px) {
  .lg\:text-7xl {
    font-size: 5.5rem;
    line-height: 1;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .lg\:text-7xl {
    font-size: 5rem;
    line-height: 1;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .lg\:text-7xl {
    font-size: 4rem;
    line-height: 1;
  }
}
@media (min-width: 992px) {
  .lg\:w-3\/6 {
    width: 50%;
  }
  .lg\:w-2\/5 {
    width: 40%;
  }
}
@media (min-width: 768px) {
  .md\:mb-4 {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 992px) {
  .md\:mt-10 {
    margin-top: 8rem;
  }
  .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
